.app {
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start; /* align content to the top */
    position: relative;
    /* other styles */
}

.review-form {
    width: 100%;
    background-color: #000000;
}

.rating-container {
    flex-grow: 1; /* grow to take up remaining space */
    width: 100%;
    display: flex; /* Añadido para permitir el uso de flexbox */
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-start; /* align content to the top */
    overflow: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
}

.text-content {
    color: #ffffff;
}

/* Text content Styling */
.text-content p {
    margin-top: 10vh;
    font-size: 2em; /* Increased text size */
    text-align: center;
    color: white;
    /*margin-bottom: 2vh; Space between text and rating stars */
}

/* Rating stars Styling */
.rating-icons {
    display: flex;
    justify-content: space-around;
    /* margin-bottom:  5vh; /* Space between rating stars and submit button */
    width: 70%;  /* reduce width */
    padding: 10px 0; /* add vertical padding */
    margin: auto; /* center this div */
}

/* Button Styling */
.submit-button {
    background: black;
    color: white;
    border: 2px solid var(--neutral-06, #272B30);
    padding: 1.2em 2.7em;
    border-radius: 12px; /* Hace el botón más redondeado */
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.228);
    cursor: pointer;
    display: block; /* Hace que el botón sea un bloque para poder centrarlo */
    margin: auto; /* Centra el botón */
    font-size: 17px; /* Cambia el tamaño de la letra */
    font-weight: bold; /* Hace la letra negrita */
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  
.submit-button:focus {
    outline: none;
}

@media (max-width: 600px) {
    .text-content p {
        font-size: 1.5em;
    }

    .star {
        width: 10vw;
    }

    .logo-image {
        width: 120px; /* Adjust size as needed */
        height: 120px; /* Adjust size as needed */
        padding: 1px;
    }
}