/*
.app {
  margin: 0;
  padding: 0;
  width: 100%;
}

.review-form {
  width: 100%;
  background-color: #000000;
}

.front-page-image {
  width: 50%;
  height: 50%;
}

.logo-image{
  width: 10%;
  height: 10%;
}

.text-content {
  width: 50%;
  height: 50%;
  color: #ffffff;
}
*/

/* Global Styles */
body {
  font-family: Arial, sans-serif; /* Beautiful font */
}

/* App container styling */
.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Image Styling */
.front-page-image {
  position: relative; /* Add relative position */
}

.front-page-image::after {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.front-page-image .Image {
  width: 100%;
  height: auto;
}

/* Logo Styling */
.logo-image {
  position: relative;
  width: 30%;
  margin: auto;
}

.logo-image::before {
  content: "";
  position: absolute;
  top: 50%; 
  left: 50%;
  bottom: 50%;
  right: 50%;
  width: 90%; /* Adjust size as needed */
  height: 90%; /* Adjust size as needed */
  background-color: white;
  border-radius: 50%;
  z-index: 0; /* Make sure the white circle is behind the logo */
  transform: translate(-50%, -50%); /* Center the circle */
}

.logo-image .Logo {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1; /* Make sure the logo is above the white circle */
}


/* Text content Styling */
.text-content p {
  font-size: 2em; /* Increased text size */
  text-align: center;
  color: white;
  margin-bottom: 2vh; /* Space between text and rating stars */
}

/* Rating stars Styling */
.rating-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh; /* Space between rating stars and submit button */
}

.star {
  width: 20vw;
  height: 20vh;
}

/* Button Styling */
.submit-button {
  background-color: lightblue;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 600px) {
  .review-form {
      padding: 10px;
  }
  
  .text-content p {
      font-size: 1.5em;
  }

  .star {
      width: 15vw;
      height: 15vh;
  }
}