/* General Styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif; /* Modern font */
}

.app, .review-form {
  background: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Background Image Styling */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

/* Logo Styling */
.logo-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  align-self: flex-end;
}

/* Text Styling */
.text-content {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

/* Rating Stars Styling */
.rating-icons {
  font-size: 1em;
}

/* Button Styling */
.submit-button {
  background-color: lightblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .background-image {
    object-fit: contain; /* Adjusts the image size */
  }

  .logo-image {
    width: 50px;
    height: 50px;
  }

  .text-content {
    font-size: 1em;
  }

  .rating-icons {
    font-size: 0.6em; /* Makes the stars smaller */
  }

  .submit-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
