html, body {
  background-color: black;
  display: flex; /* Añadido para permitir el uso de flexbox */
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
  overflow: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
  font-family: Arial, sans-serif; /* Beautiful font */
}