.front-page-image {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

/* Image Styling - grading */
.front-page-image::after {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, black 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.front-page-image .Image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cambiado de "fill" a "cover" para mantener las proporciones */
}
  
/* Logo Styling - position */
.logo-image {
  position: absolute;
  width: 140px; /* Adjust size as needed */
  height: 140px; /* Adjust size as needed */
  top: 50%; /* Centra el logo verticalmente */
  left: 50%; /* Centra el logo horizontalmente */
  transform: translate(-50%, -50%); /* Asegura que el centro del logo esté en el centro de la pantalla */
}

/* Logo Styling - white circle background */
.logo-image::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  z-index: -1; /* Make sure the white circle is behind the logo */
}

/* Logo Styling - position */
.logo-image .Logo {
  position: absolute;
  top: 50%; /* Centra el logo verticalmente */
  left: 50%; /* Centra el logo horizontalmente */
  transform: translate(-47%, -50%); /* Asegura que el centro del logo esté en el centro de su contenedor */
  z-index: 1; /* Make sure the logo is above the white circle */
  width: 80%; /* Adjust size as needed */
  height: auto;
}

/* Transitions - front page image */
.front-page-image.extended {
  /* Styles for the extended header state */
  height: 49vh; /* example value */
}
  
.front-page-image.compact {
  /* Styles for the compact header state */
  height: 15vh; /* example value */
}
  
.front-page-image.animated {
  /* Adding a transition */
  transition: height 350ms ease-in-out;
}


/* Transitions - logo image */
.logo-image.extended {
  /* Styles for the extended header state */
  transform: translate(-50%, -50%);
}

.logo-image.compact {
  /* Styles for the extended header state */
  transform: translate(-50%, -300%);
}

.logo-image.animated {
  /* Styles for the extended header state */
  transition: height 350ms ease-in-out, transform 350ms ease-in-out;
}